{% extends "registration/base.html" %}

{% block content %}
<br>
<h2 style="text-align: center;">Hey There!</h2>
<p style="text-align: center;">We all love to connect with people from different parts of the world.Let's get started on
    this networking journey
    together!</p>
<br>
<br>
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}</p>
<a href="{% url 'logout' %}">Sign Out</a>
{% else %}

<a style="margin-left: 45%" class="btn btn-primary" href="{% url 'login' %}" role="button">Sign In</a>
<a class="btn btn-primary" href="{% url 'app1_manager:signup' %}" role="button">Sign Up</a>
{% endif %}
{% endblock %}