{% extends "registration/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}</p>
<a href="{% url 'logout' %}">Sign Out</a>
{% else %}

<a class="btn btn-primary" href="{% url 'login' %}" role="button">Sign In</a>
<a class="btn btn-primary" href="{% url 'app1_manager:signup' %}" role="button">Sign Up</a>
{% endif %}
<br>
<br>
<h2>Sign In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>


{% endblock %}